# FlatNER
# BERT_BiLSTM_CRF
FlatNER/BERT_BiLSTM_CRF/HuggingFace_Model/bert-base-chinese/*
!FlatNER/BERT_BiLSTM_CRF/HuggingFace_Model/bert-base-chinese/.gitkeep

FlatNER/BERT_BiLSTM_CRF/input/*
!FlatNER/BERT_BiLSTM_CRF/input/.gitkeep

FlatNER/BERT_BiLSTM_CRF/output/annotation/*
!FlatNER/BERT_BiLSTM_CRF/output/annotation/.gitkeep

FlatNER/BERT_BiLSTM_CRF/output/dataset/EDA_CHD/*
!FlatNER/BERT_BiLSTM_CRF/output/dataset/EDA_CHD/.gitkeep

FlatNER/BERT_BiLSTM_CRF/output/dataset/Ruijin/*
!FlatNER/BERT_BiLSTM_CRF/output/dataset/Ruijin/.gitkeep

FlatNER/BERT_BiLSTM_CRF/output/model/*
!FlatNER/BERT_BiLSTM_CRF/output/model/.gitkeep

FlatNER/BERT_BiLSTM_CRF/runs/*
!FlatNER/BERT_BiLSTM_CRF/runs/.gitkeep

FlatNER/BERT_BiLSTM_CRF/Tensorboard/*
!FlatNER/BERT_BiLSTM_CRF/Tensorboard/.gitkeep


# BERT_BiLSTM_CGCN_att_CRF
FlatNER/BERT_BiLSTM_CGCN_att_CRF/HuggingFace_Model/bert-base-chinese/*
!FlatNER/BERT_BiLSTM_CGCN_att_CRF/HuggingFace_Model/bert-base-chinese/.gitkeep

FlatNER/BERT_BiLSTM_CGCN_att_CRF/input/*
!FlatNER/BERT_BiLSTM_CGCN_att_CRF/input/.gitkeep

FlatNER/BERT_BiLSTM_CGCN_att_CRF/HuggingFace_Model/Fasttext_model/*
!FlatNER/BERT_BiLSTM_CGCN_att_CRF/HuggingFace_Model/Fasttext_model/.gitkeep


FlatNER/BERT_BiLSTM_CGCN_att_CRF/HuggingFace_Model/LTP_BASE1/*
!FlatNER/BERT_BiLSTM_CGCN_att_CRF/HuggingFace_Model/LTP_BASE1/.gitkeep


FlatNER/BERT_BiLSTM_CGCN_att_CRF/output/annotation/*
!FlatNER/BERT_BiLSTM_CGCN_att_CRF/output/annotation/.gitkeep

FlatNER/BERT_BiLSTM_CGCN_att_CRF/output/dataset/EDA_CHD/*
!FlatNER/BERT_BiLSTM_CGCN_att_CRF/output/dataset/EDA_CHD/.gitkeep

FlatNER/BERT_BiLSTM_CGCN_att_CRF/output/dataset/Ruijin_EDA/*
!FlatNER/BERT_BiLSTM_CGCN_att_CRF/output/dataset/Ruijin_EDA/.gitkeep

FlatNER/BERT_BiLSTM_CGCN_att_CRF/output/model/*
!FlatNER/BERT_BiLSTM_CGCN_att_CRF/output/model/.gitkeep

FlatNER/BERT_BiLSTM_CGCN_att_CRF/runs/*
!FlatNER/BERT_BiLSTM_CGCN_att_CRF/runs/.gitkeep

FlatNER/BERT_BiLSTM_CGCN_att_CRF/Tensorboard/*
!FlatNER/BERT_BiLSTM_CGCN_att_CRF/Tensorboard/.gitkeep



# BERT_BiLSTM_CGCN_similarity_CRF
FlatNER/BERT_BiLSTM_CGCN_similarity_CRF/HuggingFace_Model/bert-base-chinese/*
!FlatNER/BERT_BiLSTM_CGCN_similarity_CRF/HuggingFace_Model/bert-base-chinese/.gitkeep

FlatNER/BERT_BiLSTM_CGCN_similarity_CRF/input/*
!FlatNER/BERT_BiLSTM_CGCN_similarity_CRF/input/.gitkeep

FlatNER/BERT_BiLSTM_CGCN_similarity_CRF/HuggingFace_Model/Fasttext_model/*
!FlatNER/BERT_BiLSTM_CGCN_similarity_CRF/HuggingFace_Model/Fasttext_model/.gitkeep


FlatNER/BERT_BiLSTM_CGCN_similarity_CRF/HuggingFace_Model/LTP_BASE1/*
!FlatNER/BERT_BiLSTM_CGCN_similarity_CRF/HuggingFace_Model/LTP_BASE1/.gitkeep


FlatNER/BERT_BiLSTM_CGCN_similarity_CRF/output/annotation/*
!FlatNER/BERT_BiLSTM_CGCN_similarity_CRF/output/annotation/.gitkeep

FlatNER/BERT_BiLSTM_CGCN_similarity_CRF/output/dataset/EDA_CHD/*
!FlatNER/BERT_BiLSTM_CGCN_similarity_CRF/output/dataset/EDA_CHD/.gitkeep

FlatNER/BERT_BiLSTM_CGCN_similarity_CRF/output/dataset/Ruijin_EDA/*
!FlatNER/BERT_BiLSTM_CGCN_similarity_CRF/output/dataset/Ruijin_EDA/.gitkeep

FlatNER/BERT_BiLSTM_CGCN_similarity_CRF/output/model/*
!FlatNER/BERT_BiLSTM_CGCN_similarity_CRF/output/model/.gitkeep

FlatNER/BERT_BiLSTM_CGCN_similarity_CRF/runs/*
!FlatNER/BERT_BiLSTM_CGCN_similarity_CRF/runs/.gitkeep

FlatNER/BERT_BiLSTM_CGCN_similarity_CRF/Tensorboard/*
!FlatNER/BERT_BiLSTM_CGCN_similarity_CRF/Tensorboard/.gitkeep


# NestedNER
# GlobalPointer_pytorch

NestedNER/GlobalPointer_pytorch/datasets/CHD/*
!NestedNER/GlobalPointer_pytorch/datasets/CHD/.gitkeep

NestedNER/GlobalPointer_pytorch/datasets/cluener/*
!NestedNER/GlobalPointer_pytorch/datasets/cluener/.gitkeep

NestedNER/GlobalPointer_pytorch/datasets/CMeEE-V2/*
!NestedNER/GlobalPointer_pytorch/datasets/CMeEE-V2/.gitkeep

NestedNER/GlobalPointer_pytorch/pretrained_models/bert-base-chinese/*
!NestedNER/GlobalPointer_pytorch/pretrained_models/bert-base-chinese/.gitkeep

NestedNER/GlobalPointer_pytorch/wandb/*
!NestedNER/GlobalPointer_pytorch/wandb/.gitkeep

NestedNER/GlobalPointer_pytorch/outputs/*
!NestedNER/GlobalPointer_pytorch/outputs/.gitkeep

NestedNER/GlobalPointer_pytorch/results/*
!NestedNER/GlobalPointer_pytorch/results/.gitkeep

# GlobalPointer_GAT

NestedNER/GlobalPointer_GAT/datasets/CHD/*
!NestedNER/GlobalPointer_GAT/datasets/CHD/.gitkeep

NestedNER/GlobalPointer_GAT/datasets/cluener/*
!NestedNER/GlobalPointer_GAT/datasets/cluener/.gitkeep

NestedNER/GlobalPointer_GAT/datasets/CMeEE-V2/*
!NestedNER/GlobalPointer_GAT/datasets/CMeEE-V2/.gitkeep

NestedNER/GlobalPointer_GAT/pretrained_models/bert-base-chinese/*
!NestedNER/GlobalPointer_GAT/pretrained_models/bert-base-chinese/.gitkeep

NestedNER/GlobalPointer_GAT/LTP_small/*
!NestedNER/GlobalPointer_GAT/LTP_small/.gitkeep

NestedNER/GlobalPointer_GAT/wandb/*
!NestedNER/GlobalPointer_GAT/wandb/.gitkeep

NestedNER/GlobalPointer_GAT/outputs/*
!NestedNER/GlobalPointer_GAT/outputs/.gitkeep

NestedNER/GlobalPointer_GAT/results/*
!NestedNER/GlobalPointer_GAT/results/.gitkeep

# GlobalPointer_GAT_Boundary

NestedNER/GlobalPointer_GAT_Boundary/datasets/CHD/*
!NestedNER/GlobalPointer_GAT_Boundary/datasets/CHD/.gitkeep

NestedNER/GlobalPointer_GAT_Boundary/datasets/cluener/*
!NestedNER/GlobalPointer_GAT_Boundary/datasets/cluener/.gitkeep

NestedNER/GlobalPointer_GAT_Boundary/datasets/CMeEE-V2/*
!NestedNER/GlobalPointer_GAT_Boundary/datasets/CMeEE-V2/.gitkeep

NestedNER/GlobalPointer_GAT_Boundary/pretrained_models/bert-base-chinese/*
!NestedNER/GlobalPointer_GAT_Boundary/pretrained_models/bert-base-chinese/.gitkeep

NestedNER/GlobalPointer_GAT_Boundary/wandb/*
!NestedNER/GlobalPointer_GAT_Boundary/wandb/.gitkeep

NestedNER/GlobalPointer_GAT_Boundary/outputs/*
!NestedNER/GlobalPointer_GAT_Boundary/outputs/.gitkeep

NestedNER/GlobalPointer_GAT_Boundary/results/*
!NestedNER/GlobalPointer_GAT_Boundary/results/.gitkeep




